/* nav bar */
@media  (min-width: 900px) and (max-width: 1050px) {
    .slideshow-container{
       width: 95%;
   }
   .prologo{
       width: 150px;
       top: 0px;
       left: 150px;
   }
   .numbertext{
       top: 50px;
       left: 20px;
   }
   .text {
       bottom: 60px;
       left: -66px;
       font-size: 15px;
   }
}
@media (min-width: 0px) and (max-width:400px) {
    .nav-bar ul li{
        display: none;
        max-width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .nav-bar ul{
        margin-right: 5px;
    }
    .menu{
     display: block;
     color: aliceblue;
     float: right;
    }
    .slideshow-container{
        width: 92%;
    }
    .nav-bar-menu{
        width: 150px;
        position: fixed;
        right: 10px;
        height: auto;
        padding-bottom: 26px;
    }
    .nav-bar-menu ul{
        margin: -2px;
        padding: 0;
    }
    .item img{
        width: 100px;
    }
   a .name{
        top: 33px;
        left: 20px;
        font-size: 15px;
    }
    .nommenu{
        position: absolute;
        right:145px;
        background-color: rgba(0, 0, 0, 0.699);
        overflow-y: scroll;
        height: 200px;
        top:-135px;
    }
    ul i{
        margin-top: 20px;
        padding: 11px;
    }
    .men{
        font-size: 20px;
    }
    .prologo{
        width: 137px;
        top: 0px;
        left: 156px;
    }
    .numbertext{
        top: 26px;
        left: -16px;
    }
    .text {
        bottom: 65px;
        left: 20px;
        font-size: 15px;
        width: 109px;
    }
    .author{
        top: -129px;
        right: 13px;
    }
    .copy{
        bottom: 13px;
        width: 219px;
        left: 55px;
    }
   
}

@media (min-width: 401px) and (max-width:800px) {
    .nav-bar ul li{
        display: none;
        max-width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .nav-bar ul{
        margin-right: 5px;
    }
    .menu{
     display: block;
     color: aliceblue;
     float: right;
    }
    .slideshow-container{
        width: 92%;
    }
    .nav-bar-menu{
        width: 150px;
        position: fixed;
        right: 10px;
        height: auto;
        padding-bottom: 26px;
    }
    .nav-bar-menu ul{
        margin: -2px;
        padding: 0;
    }
    .item img{
        width: 100px;
    }
    a .name{
        top: 33px;
        left: 20px;
        font-size: 15px;
    }
    .nommenu{
        position: absolute;
        right:145px;
        background-color: rgba(0, 0, 0, 0.699);
        overflow-y: scroll;
        height: 200px;
    }
    ul i{
        margin-top: 20px;
        padding: 11px;
    }
    .men{
        font-size: 20px;
    }
    .prologo{
        width: 169px;
        top: 19px;
        left: 258px;
    }
    .numbertext{
        top: 52px;
        left: -6px;
    }
    .text {
        bottom: 147px;
        left: 20px;
        font-size: 15px;
        width: 205px;
    }
}
/* slider */
@media (max-width: 350px) {
    .text {font-size: 11px}
    .prologo{
        width: 135px;
        top: 0px;
        left: 141px;
    }
    .numbertext{
        top: 22px;
        left: -17px;
    }
    .text {
        bottom: 56px;
        left: -14px;
        font-size: 13px;
    }
    
}
@media (min-width: 700px) and (max-width:780px) {
    .text {font-size: 11px}
    .prologo{
        width: 237px;
        top: 45px;
        left: 332px;
    }
    .numbertext{
        top: 66px;
        left: 0px;
    }
    .text {
        bottom: 181px;
        left: 83px;
        font-size: 21px;
    }
}
@media (min-width: 800px) and (max-width:899px) {
    .text {font-size: 11px}
    .prologo{
        width: 237px;
        top: 45px;
        left: 332px;
    }
    .numbertext{
        top: 73px;
        left: 0px;
    }
    .text {
        bottom: 181px;
        left: 83px;
        font-size: 21px;
    }
}
@media (min-width: 400px) and (max-width:499px) {
    .text {font-size: 11px}
    .prologo{
        width: 182px;
        top: -14px;
        left: 176px;
    }
    .numbertext{
        top: 33px;
        left: -12px;
    }
    .text {
        bottom: 87px;
        left: -21px;
        font-size: 15px;
    }
}
@media (min-width: 200px) and (max-width:299px) {
    .text {font-size: 11px}
    .prologo{
        width: 103px;
        top: -10px;
        left: 112px;
    }
    .numbertext{
        top: 14px;
        left: -18px;
        font-size: 9px;
    }
    .text {
        bottom: 46px;
        left: -21px;
        font-size: 15px;
    }
    .nav-bar-menu ul li{
        list-style: none;
        margin-top: -20px;
        font-size: 20px;
    }
}
@media (min-width:820px) {
    .prologo{
        width: 164px;
        top: 91px;
        left: 437px;
    }
    .numbertext{
        top: 86px;
        left: 14px;
        font-size: 16px;
    }
    .text {
        bottom: 240px;
        left: -176px;
        font-size: 27px;
    }
}
@media (min-width:1024px) {
    .prologo{
        width: 281px;
        top: 133px;
        left: 555px;
    }
    .numbertext{
        top: 101px;
        left: 14px;
        font-size: 16px;
    }
    .text {
        bottom: 255px;
        left: -275px;
        font-size: 31px;
    }
}
@media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }