body {
margin: 0px;
padding: 0px;
background-color: black;
}
/* ads */
.marquee{
  background-color: #f1f1f1;
}
.marquee img{
  width: 15px;
}
.ads{
  margin-left: 10px;
  display: inline-block;
}

/* navbar */
.namenav{
  font-size: 20px;
  font-weight: bolder;
  box-shadow: 1px 1px 8px white;
  padding: 10px;
}
.nav-bar {
width: 100%;
background-color: rgb(0, 0, 0);
height: 70px;
position: sticky;
top: 0px;
z-index: 9;

}
.nav-bar ul{
  margin: 0px;
  display: flex;
  justify-content: space-evenly;
}
.nav-bar ul li{
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  color: aliceblue;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.nav-bar ul li a:hover{
  transition: all 1s linear;
  color: rgb(194, 142, 75);
  cursor: pointer;
}
.menu{
  position: absolute;
  right: 20px;
  top: 15px;
}
a{
color: azure;
text-decoration: none;
}

/* menu */
.nav-bar-menu{
  width: 200px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.699);
  position: absolute;
  right: 0px;
  z-index: 99;
  top: 75px;
  display: none;
}
.nav-bar-menu .scroll{
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  /* overflow-y: scroll; */
}
.nav-bar-menu ul li{
  list-style: none;
  margin-top: 10px;
  font-size: 20px;
}
.nav-bar-menu ul li a:hover{
  color:rgb(255, 166, 0);
}
.nommenu{
  display: flex;
  flex-flow: column nowrap;
  width: 100px;
  height: 200px;
  background-color: rgb(0, 0, 0);
  z-index: 10;
  position: absolute;
  padding: 10px;
  text-align:center ;
  overflow-y: scroll;
  
}

.nommenu::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.nommenu::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.nommenu::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.nommenu::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.hidden{
  display: none;
}

.cat{
  position: relative;
}

/* slider */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 300px;
  left: 0px;
  width: 100%;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top:110px;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.prologo{
  position: absolute;
  top: 30px;
  right: 40px;
  width:350px;
}
.active {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* category */
h3{
text-align: center;
margin-top: 60px;
color: #ffffff;
}
.category{
padding: 20px;
display: flex;
flex-flow: row wrap;
}
.item{
display: flex;
justify-content: start;
flex-flow: column nowrap;
position: relative;
margin-left: 15px;
margin-top: 15px;
}
.item img{
border-radius: 205% 197% 194% 220%;
width: 150px;
}
a .name{
  position: absolute;
  top: 56px;
  left: 50px;
  color: beige;
  font-weight: bolder;
}

/* carosel products*/
.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #443004;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #443004;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 171px;
  width: 161px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card-content .name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #000000;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background-color: #443004;
}

.swiper-navBtn{
  color: #ffffff;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #ffffff;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #ffffff;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #ffffff;
}
.det{
  display: flex;
  justify-content: space-around;
}
.favorit{
  position: absolute;
  top: 20px;
  right: 20px;
  color: #ffffff;
  z-index: 99;
  transition: all 1s;
}
.favorit:hover{
  color: #ff0000;
  cursor: pointer;
}
.price{
  background-color: black;
  color:#fffb00;
  padding: 10px 10px;
  border-radius: 10px;
}
.discount {
  position: absolute;
  top: 12px;
  left: -8px;
  width: 114px;
  text-align: center;
  background-color: #ff0000;
  color: #ffffff;
  padding: 10px;
  transform: rotate(-42deg);
  border-radius: 8px;
}
.del{
  text-decoration: line-through;
  color:rgb(255, 0, 0) ;
}
.more{
  background-color: #f1f1f1;
  color: #000000;
}
.more:hover{
  background-color: #000000;
  color: #ffffff;
}
/* footer */
footer {
  display: grid;
  grid-template-rows: 1fr 10rem auto;
  grid-template-areas: "main" "." "footer";
  overflow-x: hidden;
  background: #000000;
  font-family: 'Open Sans', sans-serif;
}
 .footer {
  z-index: 1;
  --footer-background:#e47012;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
}
 .footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}
 .footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}
 .footer .content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
}
 .footer .content a,  .footer .content p {
  color: #F5F7FA;
  text-decoration: none;
}
 .footer .content b {
  color: white;
}
 .footer .content p {
  margin: 0;
  font-size: 0.75rem;
}
 .footer .content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 .footer .content > div > div {
  margin: 0.25rem 0;
}
 .footer .content > div > div > * {
  margin-right: 0.5rem;
}
 .footer .content > div .image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}
.namestore{
  position: absolute;
  top: 80px;
  color: white;
  font-weight: bolder;
  font-size: 45px;
}
.author{
  position: absolute;
  bottom: 13px;
  right: 60px;
}
.copy{
  width: 225px;
  position: absolute;
  bottom: 10px;
  left: 485px;
}
@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
